Creator: Tyler Stanton
DATA ANALYTICS FUNDAMENTALS 80
Project 5, Task 4

In [3]:
import sqlite3

connection = sqlite3.connect(r'.\Data\books.db')

OperationalError: unable to open database file

Section 1: SELECT

In [ ]:
import pandas as pd

pd.options.display.max_columns = 10
pd.read_sql('SELECT * FROM authors',connection, index_col+['id'])
pd.read_sql('SELECT * FROM titles',connection)
df = pd.read_sql('SELECT * FROM author_ISBN',connection, index_col+['id'])
df.head()

pd.read_sql('SELECT first, last FROM authors', connection)

Section 2: WHERE

In [ ]:
pd.read_sql("""SELECT title, edition, copyright FROM titles 
                WHERE copyright > '2016'""", connection)
pd.read_sql("""SELECT id, first, last FROM authors 
                WHERE last LIKE 'D%'""", connection, index_col=['id'])
pd.read_sql("""SELECT id, first, last FROM authors 
                WHERE last LIKE '_b%'""", connection, index_col=['id'])

Section 3: ORDER BY

In [ ]:
pd.read_sql('SELECT title FROM titles ORDER BY title ASC', connection)
pd.read_sql("""SELECT id, first, last FROM authors 
                ORDER BY last, first""", connection, index_col=['id'])
pd.read_sql("""SELECT id, first, last FROM authors 
                ORDER BY last DESC, first ASC""", connection, index_col=['id'])
pd.read_sql("""SELECT isbn, title, edition, copyright FROM titles
                WHERE title LIKE '%How to Program'
                ORDER BY title""", connection)

Section 4: INNER JOIN

In [ ]:
pd.read_sql("""SELECT first, last, isbn FROM authors
                INNER JOIN author_ISBN ON authors.id = author_ISBN.id
                ORDER BY last, first""", connection).head()

Section 5: INSERT INTO

In [ ]:
cursor = connection.cursor
cursor = cursor.execute("""INSERT INTO authors (first, last) 
                            VALUES ('Sue', 'Red')""")
pd.read_sql("""SELECT id, first, last FROM authors""", 
            connection, index_col=['id'])

Section 6: UPDATE

In [ ]:
cursor = cursor.execute("""UPDATE authors SET last='Black' 
                            WHERE last='Red' AND first='Sue'""")
pd.read_sql("""SELECT id, first, last FROM authors""", 
            connection, index_col=['id'])

Section 7: DELETE FROM

In [ ]:
cursor = cursor.execute('DELETE FROM authors WHERE id=6')
cursor.rowcount
pd.read_sql('SELECT id, first, last FROM authors', 
            connection, index_col=['id'])

Section 8: SELECT

In [ ]:
pd.read_sql("""SELECT title, edition FROM titles
                ORDER BY edition DESC""", connection).head(3)

pd.read_sql("""SELECT * FROM authors 
            WHERE first LIKE 'A%'""", connection)

pd.read_sql("""SELECT isbn, title, edition, copyright FROM titles
                WHERE title NOT LIKE '%How to Program'
                ORDER BY title""", connection)

NameError: name 'pd' is not defined